.about{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    align-self: center;
}

.img1{
    height: 500px;
    width: 10%;
    min-width: 500px;
}

.para{
        width: 100%;
    font-size: 20px;
}
.photo{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
}
.home{
    flex-wrap: wrap;
    align-content: space-between;
    justify-content: center;
}